.mainLogoAppBar {
    background: linear-gradient(
        to left,
        red,
        orange,
        yellow,
        green,
        cyan,
        indigo,
        violet
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 25px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      background-clip: text;
}

